<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :business_email %><br>
    <%= f.text_field :business_email %>
  </div>
  <div class="field">
    <%= f.label :personal_email %><br>
    <%= f.text_field :personal_email %>
  </div>
  <div class="field">
    <%= f.label :cell_phone %><br>
    <%= f.text_field :cell_phone %>
  </div>
  <div class="field">
    <%= f.label :business_phone %><br>
    <%= f.text_field :business_phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :office %><br>
    <%= f.text_field :office %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
