<p id="notice"><%= notice %></p>
<h3>Western Michigan University</h3>
<h1>Search Employees</h1>

<div class="search">
  <%= form_tag employees_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search], autofocus: true %>
      <%= select(nil, :dept_filter, options_for_select(Employee.unique_departments,params[:dept_filter]) , :prompt => 'All') %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</div>

<% if !@employees.blank? %>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Department</th>
      <th>Office #</th>
      <th>Business phone</th>
      <th>Cell phone</th>
      <th>Business email</th>
      <th>home_phone</th>
      <th>Personal email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.department %></td>
        <td><%= employee.office_number %></td>
        <td><%= employee.business_phone %></td>
        <td><%= employee.cell_phone %></td>
        <td><%= employee.business_email %></td>
        <td><%= employee.home_phone %></td>
        <td><%= employee.personal_email %></td>

        <!-- commenting out for now, we can delete later -ben -->
        <!-- <td><%= link_to 'Show', employee %></td> -->

        <!-- if the user is logged in and an admin -->
        <!-- let them edit and delete all users -->
        <% if current_employee %>
            <% if current_employee.admin? %>
                <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
            <% end %>

            <!-- don't let the admin delete himself -->
            <% if current_employee.admin? && current_employee.id != employee.id %>
                <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>

            <!-- let the employee edit only himself -->
            <% if current_employee.id == employee.id && !current_employee.admin? %>
                <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
    <% else if !params[:search].blank? %>
    <p class="byron_can_style_this">No results returned for: <%= params[:search] %></p>
    <p class="byron_can_style_this">Please expand your search or create a <%= link_to 'New Employee', new_employee_path %></p>
    <% end %>
<% end %>
<br>

<h2>Site Administrators</h2>
<p class="notification creator1-Chris">Chris Carlson</p>
<p class="notification creator2-Ben">Ben Masters</p>
<p class="notification creator3-Byron">Byron Swift</p>
