<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last:</strong>
  <%= @employee.last %>
</p>

<p>
  <strong>Business email:</strong>
  <%= @employee.business_email %>
</p>

<p>
  <strong>Personal email:</strong>
  <%= @employee.personal_email %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @employee.cell_phone %>
</p>

<p>
  <strong>Business phone:</strong>
  <%= @employee.business_phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Office:</strong>
  <%= @employee.office %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
